@import url('./App/app.css');
@import url('./options_box/click_button.css');
@import url('./options_box/range_input.css');
@import url('./options_box/description.css');

:root {
    --color: #ccc;
    --background-color: rgb(40, 44, 52);
    --scrollbar-border: 1px solid #444;
    --case-list-item-font-size: 1vw;
    --box-item-padding: .3vh .8vw;
    --box-item-font-size: 1vw;
    --box-item-border: 1px solid #fff;
    --box-item-line-height: 2vh;
    --box-item-color: #fff;
    --box-item-background-color: rgba(0, 0, 0, .4);
}

* {
    padding: 0;
    margin: 0;
}