/**
 * 点击按钮样式
 */
.click-button-item {
    display: inline-block;
    line-height: var(--box-item-line-height);
    padding: var(--box-item-padding);
    margin-right: .5vw;
    font-size: var(--box-item-font-size);
    color: var(--box-item-color);
    background-color: rgb(48, 51, 54);
    border: var(--box-item-border);
    border-radius: 2px;
    cursor: pointer;
}

.click-button-item:hover {
    color: #fff;
    background-color: red;
}
