/* 导航栏 */
.app-nav {
    display: block;
    min-width: 100px;
    width: 15vw;
    height: 100vh;
    color: #ccc;
    background-color: rgb(40, 44, 52);
    overflow-y: scroll;
}

.app-nav::-webkit-scrollbar {
    background-color: rgb(40, 44, 52);
    border: var(--scrollbar-border);
    box-sizing: border-box;
}

.app-nav::-webkit-scrollbar-thumb {
    background-color: rgb(55, 60, 71);
    border: var(--scrollbar-border);
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
}

.app-nav::-webkit-scrollbar-thumb:hover {
    background-color: rgb(65, 72, 85);
}

.app-nav-title {
    padding: 1vh;
    text-align: center;
    color: #fff;
    cursor: help;
}

.app-nav-title:hover + .app-nav-toast,
.app-nav-toast:hover {
    visibility: visible;
}

.app-nav-toast {
    visibility: hidden;
    position: absolute;
    z-index: 9999;
    top: 4.5vh;
    padding: 1vh 1vw;
    background-color: rgb(40, 44, 52);
    border: 1px solid #ccc;
}

.app-nav-toast::after {
    content: '';
    position: absolute;
    top: -2vh;
    left: 6vw;
    border: 1vh solid #ccc;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

/* .case-list {
    
} */

.case-list-title {
    padding: 1vh 1vw;
    color: #fff;
    background-color: rgb(33, 37, 43);
}

.case-list-item {
    font-size: var(--case-list-item-font-size);
    padding: 1vh 0 1vh 2vw;
    cursor: pointer;
}

.case-list-item:hover {
    color: #fff;
    background-color: red;
    list-style-type: none;
}
