/* 导航栏 */
.app-nav {
    display: block;
    min-width: 100px;
    width: 15vw;
    height: 100vh;
    color: #ccc;
    background-color: rgb(40, 44, 52);
    overflow-y: scroll;
}

.app-nav::-webkit-scrollbar {
    background-color: rgb(40, 44, 52);
    border: var(--scrollbar-border);
    box-sizing: border-box;
}

.app-nav::-webkit-scrollbar-thumb {
    background-color: rgb(55, 60, 71);
    border: var(--scrollbar-border);
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
}

.app-nav::-webkit-scrollbar-thumb:hover {
    background-color: rgb(65, 72, 85);
}

.app-nav-title {
    padding: 1vh;
    text-align: center;
    color: #fff;
}

/* .case-list {
    
} */

.case-list-title {
    padding: 1vh 1vw;
    color: #fff;
    background-color: rgb(33, 37, 43);
}

.case-list-item {
    font-size: var(--case-list-item-font-size);
    padding: 1vh 0 1vh 2vw;
    cursor: pointer;
}

.case-list-item:hover {
    color: #fff;
    background-color: red;
    list-style-type: none;
}
